<link rel="stylesheet" href="/static/login.css">

<h1>Login User</h1>
<form method="POST" action="/login_user">
    Username: <input type="text" name="usr" placeholder="Enter your Username"><br><br>
    Password: <input type="password" name="pword" placeholder="Enter your Password"><br><br>
    <input type="submit" value="Login">
</form> 

<form action="/register">
    <input type="submit" value="Sign Up">
</form>

<form method="POST">
    <input type="submit" value="Forgot Password?"><br>
</form>

{% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
{% endwith %}