<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h2>Welcome</h2>
    <p><strong><em>Personal Information</em></strong><br>
        {{ data.first_name }} {{ data.middle_initial }}. {{ data.last_name }}<br>
        {{ data.address }}<br>
        {{ data.birthday }}<br>
        {{ data.gender }}<br>
        {{ data.contact }}
    </p>

    <p><strong><em>Educational Attainment</em></strong><br>
        {{ data.elementary }}<br>
        {{ data.junior_high }}<br>
        {{ data.senior_high }}<br>
        {{ data.strand }}<br>
        {{ data.college }}<br>
        {{ data.program }}
    </p>
</body>
</html>

